In [2]:
%matplotlib notebook

In [3]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [32]:
#Read Q1 data and cleanup if any
df2017q1 = pd.read_csv('Resources/LoanStats_2017Q1.csv', low_memory=False, skiprows=1)
df2017q1.shape

(96779, 145)

In [22]:
#Read Q2 data and cleanup if any
df2017q2 = pd.read_csv('Resources/LoanStats_2017Q2.csv', low_memory=False,skiprows=1)
df2017q2.head()
# pd2017q1.shape

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000,5000,5000,36 months,7.35%,155.19,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,60 months,30.65%,393.05,F,F4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3600,3600,3600,36 months,7.35%,111.74,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000,10000,10000,36 months,9.44%,320.05,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12000,12000,12000,60 months,14.08%,279.72,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#Read Q3 data and cleanup if any
df2017q3 = pd.read_csv('Resources/LoanStats_2017Q3.csv', low_memory=False, skiprows=1)
df2017q3.head()
# pd2017q1.shape

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,32000,32000,32000,36 months,11.99%,1062.71,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,33000,33000,33000,36 months,7.21%,1022.12,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,12000,12000,12000,36 months,7.97%,375.88,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7000,7000,7000,36 months,7.97%,219.26,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,40000,40000,40000,60 months,15.05%,952.65,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Read Q4 data and cleanup if any
df2017q4 = pd.read_csv('Resources/LoanStats_2017Q4.csv', low_memory=False, skiprows=1)
df2017q4.head()
# pd2017q1.shape

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,25000,25000,25000.0,60 months,12.62%,563.98,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000,10000,10000.0,36 months,9.44%,320.05,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,20000,20000,20000.0,36 months,6.72%,614.99,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,27000,27000,27000.0,60 months,9.93%,572.75,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4000,4000,4000.0,36 months,10.42%,129.86,B,B3,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df2017 = df2017q1.append([df2017q2,df2017q3,df2017q4])
# df2017 = df2017.append(df2017q3)
# df2017 = df2017.append(df2017q4)
df2017.shape

(443579, 145)

In [31]:
# Question1: Are people with bad credit irregular with payments? - Sandeep

# How do you define Bad Credit-- compare: Grade Column I and Late payment colum Q
# Correlation between bad credit and the irregular with payment